<% @announcements.each do |announcement| %>
  <div class="card py-5 m-4 mx-auto">
    <h5 class="card-title"><%= announcement.title %></h5>
    <p class="card-text"><%= announcement.description %></p>
  </div>
<% end %>
